<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apatheia landing page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/vendors/owl-carousel/css/owl.carousel.min.css">
  <link rel="stylesheet" href="static/vendors/owl-carousel/css/owl.theme.default.css">
  <link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/vendors/aos/css/aos.css">
  <link rel="stylesheet" href="static/css/style.min.css">
</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  <header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex w-100">
        <img src="static/images/Group2.svg" alt="">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
        </button> 
      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img src="static/images/Group2.svg" alt="">
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#header-section">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features-section">Tutorial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#digital-marketing-section">About</a>  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedback-section">Testimonials</a>
          </li>
          <li class="nav-item btn-contact-us pl-4 pl-lg-0">
            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Run Apatheia</button>
          </li>
        </ul>
      </div>
    </div> 
    </nav>   
  </header>
  <div class="banner" >
    <div class="container">
      <h1 class="font-weight-semibold">Welcome to Apatheia <br>by FXCM.</h1>
      <h6 class="font-weight-normal text-muted pb-3">Were Financial Markets meet Artificial Intelligence!</h6>
      <div>
        <button class="btn btn-opacity-light mr-1" data-toggle="modal" data-target="#exampleModal">Run Apatheia</button>
        <a href="https://www.fxcm.com/za/forex-trading-demo/"><button class="btn btn-opacity-success ml-1">Create Account</button></a>
      </div>
      <img src="static/images/Group171.svg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>How does it works</h2>
          <h6 class="section-subtitle text-muted">With the help of machine learning we've created <br>a fully autonomous trading system.</h6>
        </div>
        <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start">
            <div class="features-width">
              <img src="static/images/Group12.svg" alt="" class="img-icons">
              <h5 class="py-3">Speed<br>Optimisation</h5>
              <p class="text-muted">The trading platform makes use of machine learning models that acts of price movement instantaneously.</p>
              <a href="#"><p class="readmore-link">Read more</p></a>  
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <img src="static/images/Group7.svg" alt="" class="img-icons">
              <h5 class="py-3">Provide necessary<br>Parameters</h5>
              <p class="text-muted">All you need to do is provide the currency pair you want to trade and the lot size you prefer, then let the model trade for you.</p>
              <a href="#"><p class="readmore-link">Read more</p></a>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-end">
            <div class="features-width">
              <img src="static/images/Group5.svg" alt="" class="img-icons">
              <h5 class="py-3">Retrieve<br>Model Perfromance</h5>
              <p class="text-muted">Once the model is done, you can view its perfromance on our trading platform. Click on the trading history tab to view the positions it took.</p>
              <a href="https://tradingstation.fxcm.com/"><p class="readmore-link">Read more</p></a>
            </div>
          </div>
        </div>
      </section>     
      <section class="digital-marketing-service" id="digital-marketing-section">
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
            <h3 class="m-0">We Offer a Full Range<br>of other Trading Services!</h3>
            <div class="col-lg-7 col-xl-6 p-0">
              <p class="py-4 m-0 text-muted">Through our trading platform you can trade Forex, Bitcoin, Gold and CFDs.</p>
              <p class="font-weight-medium text-muted">With a Demo account, you can test out different strategies before live trading.</p>
            </div>    
          </div>
          <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
            <img src="static/images/TradingPlatform.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
            <img src="static/images/TradeSignals.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
            <h3 class="m-0">We also offer<br>Trading Signals to our Premium Members.</h3>
            <div class="col-lg-9 col-xl-8 p-0">
              <p class="py-4 m-0 text-muted">Powered by Machine Learning models, we provide notification prompts on the most opportune time to make trades.</p>
              <p class="pb-2 font-weight-medium text-muted">Sign up today and try out this feature for the next 30 days.</p>
            </div>
            <a href="https://www.fxcm.com/za/forex-trading-demo/"><button class="btn btn-info" >Sign Up</button></a>
          </div>
        </div>
      </section>    
    
 <!------------------------------------------------------------------------------------------------------------------------------------------new section-->       
      <section class="customer-feedback" id="feedback-section">
        <div class="row">
          <div class="col-12 text-center pb-5">
            <h2>What our traders have to say</h2>
            <h6 class="section-subtitle text-muted m-0">We've gathered some of our latest testimonials from our frequent traders.</h6>
          </div>
          <div class="owl-carousel owl-theme grid-margin">
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img src="static/images/face2.jpg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">I absolutely loved the experience. It's hassle free, fairly priced and most of all it's earning me money.</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Sophia Armstrong</h6>
                    <h6 class="customer-designation text-muted m-0">Arbitrage Trader</h6>
                  </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img src="static/images/face3.jpg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">First platform to actually make AI trading possible.I'm greatful that I stumbled upon it.</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Tony Martinez</h6>
                    <h6 class="customer-designation text-muted m-0">Retail Trader</h6>
                  </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img src="static/images/face20.jpg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">This is amazing! One click of a button and money is rolling into my account.</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Camilla Lambert</h6>
                    <h6 class="customer-designation text-muted m-0">Quantitative Analyist (Quant)</h6>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>

<!---------------------------------------------------------------------------------------------------------------->
      <section class="contact-us" id="contact-section">
        <div class="contact-us-bgimage grid-margin" >
          <div class="pb-4">
            <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">Would you like to give it a try?</h4>
          </div>
          <div data-aos="fade-up">
            <button class="btn btn-opacity-light mr-1" data-toggle="modal" data-target="#exampleModal">Run Apatheia</button>
          </div>          
        </div>
      </section>
      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <img src="static/images/Group2.svg" alt="" class="pb-2">
            <div class="pt-2">
              <p class="text-muted m-0">kelsey_makale@gmail.com</p>
              <p class="text-muted m-0">0738421150</p>
            </div>         
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Get in Touch</h5>
            <p class="text-muted">Don’t miss any updates of our new dev team!</p>
            <form>
              <input type="text" class="form-control" id="Email" placeholder="Email id">
            </form>
            <div class="pt-3">
              <button class="btn btn-dark">Subscribe</button>
            </div>   
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Our Guidelines</h5>
            <a href="#"><p class="m-0 pb-2">Terms</p></a>   
            <a href="#" ><p class="m-0 pt-1 pb-2">Privacy policy</p></a> 
            <a href="#"><p class="m-0 pt-1 pb-2">Cookie Policy</p></a> 
            <a href="#"><p class="m-0 pt-1">Discover</p></a> 
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
              <h5 class="pb-2">Our address</h5>
              <p class="text-muted">0100 Westlands, Sarit Centre <br>Nairobi. Kenya</p>
              <div class="d-flex justify-content-center justify-content-md-start">
                <a href="#"><span class="mdi mdi-facebook"></span></a>
                <a href="#"><span class="mdi mdi-twitter"></span></a>
                <a href="#"><span class="mdi mdi-instagram"></span></a>
                <a href="#"><span class="mdi mdi-linkedin"></span></a>
              </div>
          </div>
        </div>  
      </section>
      <footer class="border-top">
        <p class="text-center text-muted pt-4">Copyright © 2019<a href="https://www.bootstrapdash.com/" class="px-1">Bootstrapdash.</a>All rights reserved.</p>
      </footer>
      <!-- Modal for Contact - us Button -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Run Apatheia</h4>
            </div>
            <div class="modal-body">
              <form action= "/trade" method="POST">
                <div class="form-group">
                  <label for="currency_pair">Currency Pair</label>
                  <select class="form-control" id="currency_pair" name="currency_pair" placeholder="EUR/USD">
                    <option value="EUR/USD">EUR/USD</option>
                    <option value="GBP/USD">GBP/USD</option>
                    <option value="USD/JPY">USD/JPY</option>
                    <option value="USD/CHF">USD/CHF</option>
                    <option value="AUD/USD">AUD/USD</option>
                    <option value="NZD/USD">NZD/USD</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="lot_size">Lot Size</label>
                  <input type="number" class="form-control" id="lot_size" name="lot_size"  placeholder="100">
                </div>
                <div class="form-group">
                  <label for="Token">Token</label>
                  <input type="text" class="form-control" id="Token" placeholder="a123*************001">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="submit" name = 'trade' class="btn btn-success">Submit</button>
                </div>
          </form>
          <form action= "/terminate" method="POST">
            <div class="modal-footer">
                <button type="submit" name = 'terminate' class="btn btn-danger btn-block">Terminate</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div> 
  <script src="static/vendors/jquery/jquery.min.js"></script>
  <script src="static/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="static/vendors/owl-carousel/js/owl.carousel.min.js"></script>
  <script src="static/vendors/aos/js/aos.js"></script>
  <script src="static/js/landingpage.js"></script>
</body>
</html>